@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Euclid Circular A", sans-serif;
}

.container {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "sidebar header" "sidebar main-content";
}
.container > header {
  grid-area: header;
}
.container > aside {
  grid-area: sidebar;
}
.container > main {
  grid-area: main-content;
}

/* Sidebar */
aside {
  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: auto auto;
  align-content: start;
  gap: 30px;
  padding: 20px 26px 0px 10px;
}

.logo img {
  max-width: 150px;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  font-size: 18px;
}
nav .main ul, nav .extras ul {
  display: grid;
  gap: 15px;
}
nav .main ul > li, nav .extras ul > li {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 5px;
  list-style: none;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
}
header .top {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
header .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px 40px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search input {
  height: 30px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.2);
  border: none;
  font-family: inherit;
  padding-left: 8px;
  font-size: 16px;
  flex: 1;
  max-width: 700px;
}

.profile-options {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 800;
}
.profile-options i {
  margin: 0 10px 0 0;
}
.profile-options img {
  max-width: 45px;
  border-radius: 50%;
}
.profile-options span {
  flex: 1;
}

.profile-lg {
  justify-self: start;
  display: flex;
  gap: 10px;
}
.profile-lg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}
.profile-lg div span:last-child {
  font-size: 20px;
}
.profile-lg img {
  max-width: 80px;
  border-radius: 50%;
}

.projects > div .card .card-options, .options {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.options button {
  background-color: skyblue;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "projects announcements" "projects trending";
  column-gap: 20px;
  row-gap: 40px;
  padding: 20px;
}
main .projects {
  grid-area: projects;
}
main .projects h3 {
  padding-bottom: 10px;
}
main .announcements {
  grid-area: announcements;
}
main .announcements h3 {
  padding-bottom: 10px;
}
main .trending {
  grid-area: trending;
}
main .trending h3 {
  padding-bottom: 10px;
}

.projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}
.projects > div .card {
  max-height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  padding: 25px 25px 0;
  overflow: hidden;
  border-radius: 8px;
  border-left: 8px solid orange;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.projects > div .card .content p:first-child {
  font-weight: 700;
  font-size: 20px;
}
.projects > div .card .content p:last-child {
  max-height: 120px;
  overflow: hidden;
  opacity: 0.7;
}
.projects > div .card .card-options {
  align-self: center;
}
.projects > div .card .card-options button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 5px;
}

.trending > div img {
  max-width: 45px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
