@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
:root {
  --primary: #0ea5e9;
  --secondary: #0369a1;
  --cards-background: white;
  --text-color: white;
  --background: #e2e8f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Euclid Circular A", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar header" "sidebar main-content";
}
.container > header {
  grid-area: header;
}
.container > aside {
  grid-area: sidebar;
}
.container > main {
  grid-area: main-content;
}
@media (max-width: 850px) {
  .container {
    grid-template-columns: auto;
  }
}
@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "header" "main-content";
  }
}

/* Sidebar */
aside {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-content: start;
  gap: 30px;
  padding: 20px 0 0 0;
  background-color: var(--primary);
  color: var(--text-color);
}
aside button {
  display: none;
  border: none;
  background-color: var(--primary);
  color: white;
  font-size: inherit;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s all;
}
aside button:hover {
  background-color: var(--secondary);
}
@media (max-width: 500px) {
  aside button {
    display: block;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 26px;
}
.logo span {
  font-size: 1.3rem;
  font-weight: 700;
}
.logo img {
  max-width: 50px;
}
@media (max-width: 950px) {
  .logo {
    padding-left: 0;
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  font-size: 1.1rem;
}
nav .main ul, nav .extras ul {
  display: grid;
}
nav .main ul a, nav .extras ul a {
  text-decoration: none;
  color: inherit;
}
nav .main ul li, nav .extras ul li {
  position: relative;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  gap: 5px;
  list-style: none;
  border-left: 5px solid var(--secondary);
  padding: 8px 0 8px 26px;
  overflow: hidden;
  z-index: 10;
}
nav .main ul li::before, nav .extras ul li::before {
  content: "";
  position: absolute;
  width: 110%;
  left: -110%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--secondary);
  transition: 0.2s ease-out;
  z-index: -1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav .main ul li:hover::before, nav .extras ul li:hover::before {
  left: 0;
}
nav .main ul li.active, nav .extras ul li.active {
  font-size: 1.3rem;
  background-color: var(--secondary);
  font-weight: 600;
}
@media (max-width: 950px) {
  nav .main ul li, nav .extras ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

nav.hidden {
  display: none;
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--cards-background);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
header .top {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
header .bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px 40px;
}
@media (max-width: 850px) {
  header .top {
    padding: 10px 20px;
    grid-template-columns: 1fr;
  }
  header .top .search {
    order: 1;
  }
  header .bottom {
    padding: 10px 20px;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search i {
  cursor: pointer;
}
.search input {
  height: 30px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.2);
  border: none;
  font-family: inherit;
  padding-left: 8px;
  font-size: 1rem;
  flex: 1;
  max-width: 700px;
}

.profile-options {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 800;
}
.profile-options i {
  margin: 0 10px 0 0;
  cursor: pointer;
}
.profile-options img {
  max-width: 45px;
  border-radius: 50%;
}
.profile-options span {
  flex: 1;
}
@media (max-width: 850px) {
  .profile-options {
    justify-self: auto;
    margin-left: auto;
  }
}

.profile-lg {
  justify-self: start;
  display: flex;
  gap: 10px;
}
.profile-lg div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}
.profile-lg div span:last-child {
  font-size: 1.2rem;
}
.profile-lg img {
  max-width: 80px;
  border-radius: 50%;
}

.projects > div .card .card-options, .options {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.options button {
  background-color: var(--primary);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  transition: 0.3s all;
  cursor: pointer;
}
.options button:hover {
  background-color: var(--secondary);
}
@media (max-width: 590px) {
  .options {
    justify-self: center;
    grid-template-columns: 1fr;
  }
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "projects sidebar-main";
  column-gap: 20px;
  row-gap: 40px;
  align-content: start;
  padding: 20px;
  background-color: var(--background);
}
main .projects {
  grid-area: projects;
}
main .projects h3 {
  padding-bottom: 14px;
}
main .sidebar-main {
  grid-area: sidebar-main;
}
main .sidebar-main h3 {
  padding-bottom: 14px;
}
@media (max-width: 850px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "projects" "sidebar-main";
  }
}

.projects > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 25px;
}
.projects > div .card {
  max-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  padding: 25px 25px 0;
  overflow: hidden;
  border-radius: 8px;
  border-left: 8px solid orange;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--cards-background);
}
.projects > div .card .content p:first-child {
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.projects > div .card .content p:last-child {
  max-height: 120px;
  overflow: hidden;
  opacity: 0.7;
}
.projects > div .card .card-options {
  align-self: center;
}
.projects > div .card .card-options button {
  background: none;
  border: none;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 590px) {
  .projects > div {
    grid-template-columns: minmax(150px, 1fr);
  }
}

.sidebar-main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  align-content: start;
}

.announcements > div {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--cards-background);
}
.announcements > div .card {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
.announcements > div .card p:first-child {
  font-weight: 700;
}
.announcements > div .card p:last-child {
  max-height: 50px;
  overflow: hidden;
  font-size: 0.9rem;
  opacity: 0.7;
}
.announcements > div .card:last-child {
  border-bottom: none;
}

.trending > div {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--cards-background);
}
.trending > div .card {
  display: flex;
  gap: 18px;
  padding: 15px 0;
}
.trending > div .card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
}
.trending > div .card div span {
  font-weight: 400;
}
.trending > div .card div p {
  opacity: 0.7;
}
.trending > div a.card {
  text-decoration: none;
  color: inherit;
}
.trending > div a.card span {
  transition: 0.2s all;
}
.trending > div a.card:hover span {
  color: var(--primary);
}
.trending > div img {
  max-width: 45px;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
