@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Euclid Circular A', sans-serif;
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";

    > {
        header {
            grid-area: header;
        }
        aside {
            grid-area: sidebar;
        }
        main {
            grid-area: main-content;
        }
    }
}

/* Sidebar */
aside {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    grid-template-rows: auto auto;
    align-content: start;
    gap: 30px;
    padding: 20px 26px 0px 10px;
}
.logo img {
    max-width: 150px;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    font-size: 18px;
    
    .main ul, .extras ul {
        display: grid;
        gap: 15px;

        > li {
            display: grid;
            grid-template-columns: 1.5rem 1fr;
            gap: 5px;
            list-style: none;
        }
    }
}

/* Header */

header {
    display: flex;
    flex-direction: column;

    .top {
        padding: 0 40px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
    }

    .bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 20px 40px;
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        height: 30px;
        border-radius: 20px;
        background-color: rgba($color: gray, $alpha: 0.2);
        border: none;
        font-family: inherit;
        padding-left: 8px;
        font-size: 16px;
        flex: 1;
        max-width: 700px;
    }
}
@mixin profile-picture($size: 45px) {
    max-width: $size;
    border-radius: 50%;
}
.profile-options {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 800;

    i {
        margin: 0 10px 0 0;
    }
    img {
        @include profile-picture;
    }
    span {
        flex: 1;
    }
}
.profile-lg {
    justify-self: start;
    display: flex;
    gap: 10px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        font-weight: 700;

        span:last-child {
            font-size: 20px;
        }
    }

    img {
        @include profile-picture(80px)
    }
}
.options {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    button {
        background-color: skyblue;
        padding: 10px 30px;
        border: none;
        border-radius: 20px;
        color: white;
        font-weight: 700;
    }
}

/* Main Content */